html,body{
	width: 100%;
	height: 100%;
}
/*main*/
.main{
	height: 45%;
}
.clearfix:after{
	display: block;
	content: "";
	clear: both;
	visibility: hidden;
}
.init-arr{
	display: inline-block;
	width: 40%;
	float: left;
	height: 100%;
	border:2px solid lightblue;
	overflow: auto;
}
p{
	margin-top: 0px;
	margin-bottom: 10px;
}
.arr-item{
	display: inline-block;
	width: 10%;
	background-color: lightgreen;
	margin:0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.arr-item-sorted{
	display: inline-block;
	width: 10%;
	background-color: lightblue;
	margin:0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.btn-group{
	width: 15%;
	float: left;
	height: 100%;
	margin-left:10px;
	margin-right: 10px;
	border:2px solid #FF9999;
	text-align: center;
}
.sort-content{
	height: 90%;
	overflow: auto;
}
.distinct-content{
	height: 80%;
	overflow: auto;
	display: none;
}
.btn{
	display: inline-block;
	width: 100%;
	margin:5px auto;
	border:1px solid #CCFFFF;
	background-color: #FFFFCC;
}
.btn-creat-arr{
	display: inline-block;
	width: 16%;
	height: 25px;
	margin-right: 10%;
	border:2px solid #adadad;
	border-radius: 5px;
	background-color: white;
}
.btn-creat-arr-last{
	margin-right: 0px;
}
.menu-switch-btn{
	width: 50%;
	margin-right: -5px;
	margin-left: -3px;
	border:2px solid #adadad;
	border-radius: 5px;
	background-color: white;
}
.show-result{
	width: 40%;
	float: left;
	height: 100%;
	border:2px solid lightgreen;
	overflow: auto;
}
/*bottom*/
.bottom{
	height: 45%;
	width: 100%;
	margin-top: 20px;
}
.visualization{
	height: 100%;
	width: 40%;
	border:2px solid lightblue;
	float: left;
}
.count-time{
	height: 100%;
	width: 15%;
	border:2px solid #FF9999;
	float: left;
	margin-left:8px;
	margin-right: 10px;
}
.implementation{
	height: 100%;
	width: 40%;
	border:2px solid lightgreen;
	float: left;
	overflow: auto;
}
.t-c{
	text-align: center;
	color: rgb(71, 96, 99);
	margin-top: 10px;
}
.show-item{
	text-align: center;
	border-bottom: 2px solid rgb(167, 196, 179);
	background-color: #FFFFCC;
}
.tips{
	display: none;
}
.sort-item{
	color: rgb(112, 185, 183);
}
.visualImg{
	width: 100%;
	height: 90%;
}
.algorithm-idea{
	margin-left: 20px;
	line-height: 30px;
}
